.label {
  @apply mb-1
  block
  text-left
  text-sm
  font-medium
  text-gray-900
  dark:text-white;
}

.inputBgColors {
  @apply bg-gray-50
  dark:bg-gray-700;
}

.inputBorderColors {
  @apply border-gray-300
  dark:border-gray-600;
}

.inputTextColors {
  @apply text-gray-900
  placeholder-gray-400
  dark:text-white
  dark:placeholder-gray-400;
}

.inputFocusColors {
  @apply focus:border-blue-500
  focus:ring-blue-500
  dark:focus:border-blue-500
  dark:focus:ring-blue-500;
}

.input {
  @apply block
  h-8
  w-full
  border-y
  p-2
  text-sm;
}
