.label {
  @apply mb-1
  block
  text-left
  text-sm
  font-medium
  text-primary-900
  dark:text-white;
}

.inputBgColors {
  @apply bg-primary-50
  dark:bg-primary-700;
}

.inputBorderColors {
  @apply border-primary-300
  dark:border-primary-600;
}

.inputTextColors {
  @apply text-primary-900
  placeholder-primary-400
  dark:text-white
  dark:placeholder-primary-400;
}

.inputFocusColors {
  @apply focus:border-secondary-500
  focus:ring-secondary-500
  dark:focus:border-secondary-500
  dark:focus:ring-secondary-500;
}

.input {
  @apply block
  h-8
  w-full
  border-y
  p-2
  text-sm;
}
