.label {
  @apply text-left
  block
  mb-1
  text-sm
  font-medium
  text-gray-900
  dark:text-white;
}

.input {
  @apply bg-gray-50
  border-gray-300
  text-gray-900
  text-sm
  border-y
  focus:ring-blue-500
  focus:border-blue-500
  block
  w-full
  p-2
  h-8
  dark:bg-gray-700
  dark:border-gray-600
  dark:placeholder-gray-400
  dark:text-white
  dark:focus:ring-blue-500
  dark:focus:border-blue-500;
}
