.container {
  @apply z-10
  w-full
  h-full
  top-0
  left-0 
  flex
  absolute  
  group-last:rounded-b-lg
  items-center
  p-2
  font-bold
  text-white
  transition;
}

.buttonContainer {
  @apply w-full flex justify-center place-items-center gap-2;
}

.updateContainer {
  @apply w-full
  flex
  justify-between;
}

.button {
  @apply border
  focus:ring-4
  focus:outline-none
  rounded-lg
  inline-flex
  gap-2
  py-1 px-2 text-xs font-medium
  text-center
  items-center;
}

.updateColors {
  @apply text-green-700
  hover:text-white
  border-green-700
  hover:bg-green-800
  focus:ring-green-300
  dark:border-green-500
  dark:text-green-500
  dark:hover:text-white
  dark:hover:bg-green-600
  dark:focus:ring-green-900;
}
.deleteColors {
  @apply text-red-700
  hover:text-white
  border-red-700
  hover:bg-red-800
  focus:ring-red-300
  dark:border-red-500
  dark:text-red-500
  dark:hover:text-white
  dark:hover:bg-red-600
  dark:focus:ring-red-900;
}
.abortColors {
  @apply text-yellow-700
  hover:text-white
  border-yellow-700
  hover:bg-yellow-800
  focus:ring-yellow-300
  dark:border-yellow-500
  dark:text-yellow-500
  dark:hover:text-white
  dark:hover:bg-yellow-600
  dark:focus:ring-yellow-900;
}
