@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer base {
  html,
  body {
    @apply min-h-screen bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-primary-900 via-additional-900 to-secondary-600;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-500));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
